/* universal selector select all body */

*{
    background-color: black;
}

/* select all h1 element */

h1{
    color: coral;
}

/* select all p element */

p{
    color: pink;
}

/* select all element with class same  */
.same{
    color: aqua;
}

/* select all element with id unique */

#unique{
    color: aquamarine;
}

/* select all element with  attribut href */

[href]{
    color: red;
}

/* select all li element that are in ol */
ol li{
    color: purple;
}